* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, sans-serif;
    color: #492617;
    background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d5d5d5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#d5d5d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
    min-width: 300px !important;
 
}

header {
	background: #783697;
}

.logo {
    /* width: 110px;
    margin: 10px auto 20px;
    height: 80px; */
    float: left;
    padding-bottom: 20px;
    margin-left: 20px;
}
header .logo img {
    height: 40px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

ul:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    background: #783697; /* Old browsers */
    background: -moz-linear-gradient(top, #783697 0%, #411356 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #783697 0%,#411356 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #783697 0%,#411356 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#783697', endColorstr='#411356',GradientType=0 ); /* IE6-9 */
    color: white;
}

nav ul li {
    float: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
}

input[name='search'] {
    /* width: 500px; */
    width: 80%;
    font-size: 25px;
    margin: 20px auto;
    display: block;
}

header nav {
    float: left;
}

header:after {
    content: '';
    display: block;
    clear: both;
}

header nav li.current a{
    color: #c65afc
}

header nav li:hover a{
    color: #c65afc
}

nav a {
    padding: 10px 15px;
}
.user {
    float: right;
    margin-right: 55px;
    bottom: 20px;
    position: relative
}
.user:hover {
    transform: rotate(360deg);
}

.hidden {
    background: #783697;
    width: 150px;
    display: none;
    position: absolute;
    top: 80px;
    right: 0px;
    padding-bottom: 10px;
}

.profile {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile li {
    text-align: center;
}

.profile li a{
    color: white;
    text-decoration: none;
}

.cols {
    display: flex;
}

.cols .col {
    flex: 1;
    padding: 0 10px;
}
.cols h3 {
    text-align: center;
}

.ad {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.3)
}

.ad:last-child{
    margin-bottom: 0;
}

.ad:after {
    content: '';
    display: block;
    clear: both;
}

.ad > * {
    float: left;
}


.ad-picture {
    width: 100px;
    height: 100px;
    background: white;
}


.ad-info {
    padding-left: 10px;
}

.ad-heading {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ad-price, 
.ad-time{
    position: relative;
}

.googleMap, .info, .media{
    width:200px;
    height:200px;
    margin: 0 auto;   
}
.images {
    width:64px;
    height:200px;
    margin: 0 auto;
}

[title~=Телефон]{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media all and (max-width: 960px) {
    .wrapper {
        width: 100%;
    }
}

@media all and (max-width: 770px) {
    .col-hide-me {
        display: none;
    }
}

@media all and (max-width: 540px) {
    a.menu {
        display: block;
        font-size: 15px;
    }
    .nav-hide-me {
        display: none;
    }
    .hidden-menu {
        display: none;
    }
    header { 
        height: 80px
    }
}

@media all and (max-width: 480px) {
    .googleMap, .info, .media{
        width:150px;
        height:150px;
        margin: 0 auto;  
    }
    footer .wrapper {
        height: 300px;
    }
    .cols .col {
        padding: 0;
    }
    .media {
        width: 125px;
    }
}


.menu {
    display: none;
}
.hidden-menu {
    display: none;
}

.hidden-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    top: -27px;
}

.hidden-menu li a{
    color: white;
    text-decoration: none;
}

.hidden-menu li.current a{
    color: #c65afc
}

.hidden-menu li a:hover{
    color: #c65afc
}