* {
    box-sizing: border-box
}
html,
body {
    padding: 0;
    margin: 0;
    background: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.index header {
    height: 400px;
}
header {
    background: url(../images/mustang.jpeg) center center;
    background-size: cover;
    height: 200px;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: table;
    margin: 0 auto;
}
header nav ul:after {
    display: block;
    content: '';
    clear: both;
}
header nav li {
    float: left;
}
header nav li.current a {
    background: rgba(136, 33, 33, 1);
}
header nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: rgba(136, 33, 33, 0.6);
}
header nav a:hover {
    background: rgba(136, 33, 33, 1);
}

footer nav ul {
    display: table;
    list-style: none;
    padding: 20px;
    margin: 0;
}
footer nav li.current a {
    background: rgba(136, 33, 33, 1);
}
footer nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: rgba(136, 33, 33, 0.6);
}
footer nav a:hover {
    background: rgba(136, 33, 33, 1);
}

main {
    padding: 50px;
}

.hidden {
    display: none;
}

.login-form {
    background: red
}